body {
    background: linear-gradient(90deg,
            rgba(61, 25, 91, 1) 43%,
            rgba(195, 6, 4, 1) 100%);
    background-repeat: no-repeat;
    text-align: center;
    color: #ede7f6;
    font-size: 50px;
}

img {
    height: 500px;
    border-radius: 50%;
    width: 300px;
}

.menu {
    float: right;
    color: black;
    position: absolute;
    list-style: none;
    font-family: cursive;
    top: 5px;
    right: 30px;
    cursor: pointer;
}

#about {
    padding: 50px;
    text-align: center;
    font-size: 42px;
}

.links {
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 20px;
}

.links:hover {
    background-color: cornflowerblue;
}

a {
    text-decoration: none;
    color: yellow;
}
